body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(sky2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    width: 400px;
    background-color: #74d1ee15;
    padding: 20px;
    border: 10px black;
    border-radius: 0 px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ed0909;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.522);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0face4;
}

@media (max-width: 700px) {
    .container {
        width: 90%;
    }
}
